<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Cat App</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" href="/styles/app.css">
  </head>
  <body>
    <nav>
      <div class="ui fixed inverted menu">
        <div class="ui container">
          <div class="header item"><i class="smile icon"></i><a href="/" class="item">Cat site</a></div>
          <a href="/" class="item">Home</a>
          <a href="/cats/new" class="item">New Cat</a>
        </div>
      </div>
    </nav>
